body{
  font-family: open sans,Helvetica,Arial,sans-serif;
  
}
html{
  scroll-behavior: smooth;
}
header .header-logo {
  color: #001b4f;
    font-weight: 700;
    font-size: 23px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

header {
  position: -webkit-sticky;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 1000;
}

header .main-menu>li {
  position: relative;
}

header .main-menu>li>a {
  color: white;
  font-size: 15px;
  padding: 1rem .7rem;
  font-weight: 700;
  display: block;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

header .main-menu>li.active>a {
  color: white;
  text-decoration: underline;
}

header .main-menu>li:hover>a {
  color: white;
  text-decoration: none;
}

header .main-menu>li>a>i {
  color: #03328E;
}

header .main-menu>li>a:hover>i {
  color: #fff;
}

header .main-menu>li:hover>a i {
  color: #fff;
}

header .main-menu .sub-menu {
  display: none;
  position: absolute;
  left: 50%;
  top: 100%;
  width: 180px;
  overflow: hidden;
  border-top: 2px solid #f49306;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  z-index: 5;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

header .main-menu .sub-menu a {
  padding: 11px 10px;
  display: block;
  color: #173966;
  font-weight: 600;
  font-size: 15px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

header .main-menu .sub-menu a i {
  color: #03328E;
}

header .main-menu .sub-menu a:hover {
  background: #10bd3b;
  color: #fff;
}

header .main-menu>li:hover .sub-menu {
  display: block;
}

header .header-logo figure img {
  max-width: 200px;
}
header .header-logo img{
  width: 50%;
  filter: brightness(0) invert(1);
}
header .demo-link {
  margin-left: 1vw;
}

header .side-menu-close {
  background: transparent;
}

header .side-menu-close span {
  background: #21395F;
  width: 28px;
}
.newfeature{
  font-size: 9px;
    color: #fff;
    padding: 1px 5px;
    background: #f29f7c;
    border-radius: 4px;
    position: relative;
    bottom: 3px;
}
#call-action .call-action {
  /* color: #fff;
  background-color: #80c6dc; */
  /* padding: 1px 30px; */
  border-radius: 25px;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

#call-action .call-action:hover {
  color: white;
  text-decoration: none;
}

/* side menu */
.side-menu-wrap {
  width: 300px;
  position: fixed;
  left: -100%;
  top: 0;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  box-shadow: 0 1px 5px 0 rgba(83, 83, 83, 0.2);
  overflow-y: auto;
  z-index: 15000;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.side-menu-wrap.opened {
  left: 0;
  transition: .8s;
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -ms-transition: .8s;
  -o-transition: .8s;
}
/* 
.side-menu-logo {
  border-bottom: 2px solid #FE8204;
} */

.side-menu-nav .main-menu>li {
  position: relative;
  /* border-bottom: 1px solid #ccc; */
}

.side-menu-nav .main-menu>li>a>i {
  color: #03328E;
}

.side-menu-nav .main-menu .sub-menu {
  border-top: 1px solid #FE8204;
  background: #fff;
  display: none;
}

.side-menu-nav .main-menu .sub-menu li {
  border-bottom: 1px solid #eee;
}

.side-menu-nav .main-menu .sub-menu a {
  padding: 10px 22px;
  display: block;
  color: #212529;
  font-weight: 600;
  font-size: .9em;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.side-menu-nav .main-menu .sub-menu a i {
  color: #03328E;
}

.side-menu-nav .main-menu .sub-menu~i {
  font-size: .8em;
  position: absolute;
  padding: 21px 11px;
  right: 0;
  top: 0;
  border-left: 1px solid #ccc;
}

.side-menu-nav .main-menu .sub-menu a:hover {
  background: #F5F5F5;
}

.side-menu-nav .main-menu>li>a {
  color: #58595b;
  padding: 15px 30px 5px 10px;
  font-weight: 600;
  display: block;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.side-menu-wrap .side-menu-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.side-menu-close {
  height: 40px;
  width: 40px;
  background: #21395F;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.side-menu-close span {
  height: 2px;
  width: 20px;
  background: #fff;
  position: relative;
  opacity: 1;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.side-menu-close span:nth-child(1) {
  top: -5px;
}

.side-menu-close span:nth-child(3) {
  bottom: -5px;
}

.side-menu-close.closed span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
}

.side-menu-close.closed span:nth-child(2) {
  opacity: 0;
}

.side-menu-close.closed span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
}

/*  custom overlay */
.custom-overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 12500;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.custom-overlay.show {
  visibility: visible;
  opacity: 1;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

#topbar{
background-color: #192048;
text-align: center;
padding: 18px 0px;
box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}
#topbar a{
color: white;
font-weight: 600;
font-size: 14px;
}
#topbar a span{
  text-decoration: underline;
}
#banner{
  background-image: url(../img/main-1920.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 45%;
  background-position-x: 50%;
  color: #fff;
  padding: 40vh 20px;
  position: relative;
}

.forvideo{
  border: 1px solid white;
  border-radius: 25px;
  background-color: transparent;
  margin: 10px;
  font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 15px;
   color: white;
   width: 240px;
}

.forbuy{
  color: white;
  background-color: #80c6dc;
  border-radius: 25px;
  margin: 10px;
  font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 15px;
    width: 240px;
    border: 0;
}
.forvideo:focus , .forbuy:focus{
  outline: none;
}
#SeenOn{
  padding-bottom: 25px;
}
#SeenOn h2{
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 30px;

}
#SeenOn img{
  width: 44%;
  margin-bottom: 15px;
}
#SeenOn p{
font-size: 15px;
}
#RealTime{
    padding-bottom: 40px;
    background-color: #f6f6f6;
    padding-top: 40px;
}
#RealTime .container-fluid {
  max-width: 1300px;
}

#RealTime h2{
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  color: #414141;
}
#RealTime .leftimg{
width: 100%;
}
#RealTime h3{
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #414141;
}
#RealTime .para1{
  margin-bottom: 20px;
  font-size: 16px;
    color: #414141;
}
#RealTime .para2{
  font-size: 16px;
  font-weight: 600;
  color: #80c6dc;
}
#RealTime .setdiv{
  padding: 100px 30px;
  max-width: 600px;
  margin: auto;
}
#features{
  padding: 40px 0px;
    background-color: #fff;
}
#features h2{
  font-size: 26px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #414141;
}
#features p{
  color: #414141;
  font-size: 16px;
}
.imagessection img{
  width: 60%;
}
.imagessection p{
  margin: 10px 0;
  color: #414141;
  font-size: 85%!important;
}
.centerdiv{
  padding: 80px 20px;
    margin: auto;
}
/* .owl-carousel img {
  width: 100%;
  max-width: 300px;
  padding: 5px;
} */
.iphone{
  position: relative;
    width: 250px!important;
}
.oniphone{
  position: absolute;
  width: 250px!important;
  height: 408px;
  top: 0;
  left: 20px;
  background-color: transparent;
}

.paddingtop h2{
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  color: #414141;
}
.paddingtop p{
  font-size: 16px;
  color: #414141;
  width: 85%;
}
.paddingtop1 h2{
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: .5rem;
  color: #414141;
}
.paddingtop1 p{
  font-size: 16px;
  color: #414141;
  width: 95%;
}
.phonecarousel1{
  margin-bottom: 50px;
}
.phonecarousel1 {

  background: linear-gradient(to bottom,white 0%,white 58%,#F5F7F8 42%,#F5F7F8 100%);
}


.phonecarousel1 .container-fluid{
max-width: 1200px;
position: relative;
}

.phonecarousel1 .carousel-item {
  width: 80%;
  margin-left: 8%;
  margin-right: 10%;
}

 .carousel-header {
  /* width: 80%; */
  margin-right: 10%;
  z-index: 200;
}
.carousel-header1 {
  /* width: 80%; */
  margin-left: 8%;
  margin-right: 10%;
  z-index: 200;
}
.padding-left-md {
  padding-left: 30px;
}
.leftarrow{
  font-size: 42px!important;
    position: absolute;
    top: 65%;
    left: 0;
    color: #7a7b7c;
}
.rightarrow{
  font-size: 42px!important;
  position: absolute;
  top: 65%;
  right: 10px;
  color: #7a7b7c;
}
.leftarrow2{
  font-size: 42px!important;
    position: absolute;
    left: 19px;
    color: #ffffff;
    top: 46%;
    background-color: #777;
    padding: 6px 19px;
    border-radius: 50%;
    opacity: .6;
    visibility: hidden;
  }
.rightarrow2{
  font-size: 42px!important;
  position: absolute;
  right: 10px;
  color: #ffffff;
  top: 46%;
  background-color: #777;
  padding: 6px 19px;
  border-radius: 50%;
  opacity: .6;
  visibility: hidden;
}
.owl-carousel2:hover .rightarrow2 , .owl-carousel2:hover .leftarrow2{
visibility: visible;
}
.tabstyle{
  color: #9a9a9a;
  font-size: 14px;
}
.tabstyle:hover{
text-decoration: none;
}
.h3-div h3{
  margin-bottom: 20px;
  font-weight: 600;
  display: inline-block;
    vertical-align: middle;
  color: #414141;
  
}

#experthelp{
  padding-bottom: 40px;
  padding-top: 40px;
}
#experthelp .container-fluid {
  max-width: 1300px;
}
#experthelp h2{
margin-bottom: 20px;
font-weight: 600;
text-align: center;
color: #414141;
}
.phonecarousel1 h3{
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  color: #414141;
  }

#experthelp .leftimg{
width: 100%;
}
#experthelp h3{
margin-bottom: 20px;
font-weight: 600;
color: #414141;
}
#experthelp .para1{
margin-bottom: 20px;
font-size: 16px;
  color: #414141;
}
#experthelp .para2{
font-size: 16px;
font-weight: 600;
color: #414141;
}

#experthelp .setdiv{
  padding: 0 6vw;
  margin: auto 0;
}
.learnmore button{
  width: 240px;
  color: #fff;
  background-color: #f29f7c;
  cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
  position: absolute;
    top: 65%;
    left: 36%;
}
.owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background:#80c6dc;
  margin: 0 6px;
}
.owl-dots button.owl-dot.active {
  background-color: #707070;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}



.owl-carousel2 .carousel-item {
  background: #fff;
  border: 1px solid #D9D7DA;
  text-align: center;
  display: block;
  box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
  border-radius: 5px;
  max-height: 470px;
}
.owl-carousel2 .owl-item img{
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.owl-carousel2 .carousel-item-text {
  padding: 15px;
  height: 185px;
  /* height: 250px; */
}
.owl-carousel2 .carousel-item-text p{
  font-size: 16px;
    color: #414141;
}

.owl-carousel2 .carousel-item .item-kicker {
  color: #9A5053;
  display: block;
  font-size: .8em;
  font-weight: 600;
  height: 30px;
  margin-bottom: 16px;
  overflow: hidden;
  text-transform: uppercase;
}

.owl-carousel2 .carousel-item .item-title {
  color: #646464;
  font-size: 1em;
  font-weight: 600;
  height: 38px;
  margin: 0;
  overflow: hidden;
}

.owl-carousel2 .owl-dots {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.owl-carousel2 .owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

.owl-carousel2 .owl-dot.active {
  background: rgba(127, 127, 127, 1);
}


/* Tabs */

.owl-carousel2 .nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.owl-carousel2 .nav-tabs>li {
  display: block;
  position: relative;
  text-align: center;
}

.owl-carousel2 .nav-tabs>li:last-child {
  margin-right: 0;
}

.owl-carousel2 .tab-content {
  display: inline-block;
  width: 100%;
}

.owl-carousel2 .tab-content .tab-pane {
  display: none;
}

.owl-carousel2 .tab-content .tab-pane.active {
  display: block;
}
.owl-carousel2 .owl-stage-outer{
  padding: 10px 0px;
  }
.phonecarousel{
  background: linear-gradient(to bottom,white 0%,white 42%,#F5F7F8 42%,#F5F7F8 100%);

}
.phonecarousel .container-fluid {
  max-width: 1200px;
  position: relative;
}
.loveletters h2{
  text-align: center;
    margin: 40px 0px;
}
.loveletters .buynow{
  text-align: center;
  width: 240px;
  color: #fff;
    background-color: #80c6dc;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 25px 0px;
}
.loveletters .buynow:focus{
outline: none;
}

.text-div{
  max-width: 580px;
  margin: 0 auto;
  padding: 80px 80px 80px 0;
}
.text-div h3{
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}

.join-div p{
  font-size: 38px;
    margin-bottom: 30px;
    font-weight: 600;
}
.join-div .buynow{
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  font-size: 1.2rem;
  width: 240px;
  color: #fff;
    background-color: #80c6dc;
}
.family-section {
  padding: 80px 0;
  background-color: #f5f7f8;
  overflow: hidden;
}
.owl-carousel3 .carousel-item{
  display: block;
  box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.owl-carousel3 .carousel-item-text{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: white;
  padding: 10px;
  display: flex;
    align-items: center;
}
.owl-carousel3 .carousel-item-text img{
  width: 20%;
  border-radius: 50%;
}
.owl-carousel3 .carousel-item-text .name-div{
  font-size: 12px;
  margin-left: 10px;
}
.owl-carousel3 .owl-stage-outer{
padding: 10px 0px;
margin: 0px -150px 0 100px;
}

.leftarrow3{
  font-size: 42px!important;
    position: absolute;
    top: 36%;
    left: 25px;
    color: #989899;
}
.rightarrow3{
 display: none!important;
}
.footer .newsletter-div {
  background-color: #192048;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
}
.footer .newsletter-div .label-div {
  font-size: 16px;
  padding: 0 25px;
  white-space: nowrap;
}
.footer .newsletter-div .input-div {
  height: 30px;
}
.footer .newsletter-div .input-div input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 100%;
  width: 75%;
  max-width: 280px;
  background-color: #ebf0f3;
  border-radius: 25px 0 0 25px;
  padding: 0 15px;
  margin-right: -3px;
  vertical-align: middle;
}
.footer .newsletter-div .input-div input:focus {
outline: none;
}
.footer .newsletter-div .input-div button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 100%;
  background-color: #80c6dc;
  border-radius: 0 20px 20px 0;
  padding: 0 25px 0 20px;
  margin-left: -3px;
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
}
.footer .newsletter-div .input-div button:focus{
  outline: none;
}
.footer .media-div {
  padding: 30px 30px 0;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.footer .media-div .footer-link {
  font-size: 14px;
  font-weight: 600;
  display: block;
  color: #91a0aa;
  text-decoration: none;
  padding: 5px 10px;
}
.footer .media-div .social-div {
  margin: 10px 0 20px;
  padding: 0 10px;
}
.footer .media-div .social-div .social-link {
  text-decoration: none;
  vertical-align: middle;
}
.footer .media-div .social-div .social-link i {
  color: #fff;
  font-size: 20px;
  padding: 11px;
  margin: 0 5px;
  background-color: #192048;
  border-radius: 30px;
  display: inline-block;
  width: 41px;
  height: 41px;
}
.footer .media-div .stores-div {
  margin: 10px 0 30px;
}
.footer .media-div .stores-div .store-link {
  text-decoration: none;
}
.footer .media-div .stores-div .store-link img {
  max-height: 40px;
  max-width: 47%;
  margin: 0 2px;
}
.footer .terms-div {
  color: #91a0aa;
  text-align: center;
  font-size: 14px;
  margin-bottom: 40px;
}
.footer .terms-div .signature, .footer .terms-div .terms-link {
  color: #91a0aa;
  padding: 10px 6px;
  text-decoration: none;
}
.care-features-section {
  margin-top: 40px;
  background: linear-gradient(to bottom,white 0%,white 120px,#F5F7F8 120px,#F5F7F8 100%);
}
.care-features-section .container-fluid {
  max-width: 1200px;
}
.no-padding {
  padding: 0!important;
}
.carousel {
  position: relative;
}
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel.specs-carousel .carousel-header {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  z-index: 200;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters h3 {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}
.care-features-section .tablet-only, .care-features-section .desktop-only {
  display: none;
}
.care-features-section #care-features-div a.toggle-collapse.collapsed {
  color: #90a0aa;
}
.care-features-section #care-features-div a.toggle-collapse.collapsed:hover {
cursor: pointer;
color: #414141;
}
.care-features-section #care-features-div a.toggle-collapse {
  display: block;
  color: #414141;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}
.care-features-section #care-features-div a.toggle-collapse:hover {
  cursor: pointer;
}

.care-features-section .green-check.care {
  background-color: #f29f7c;
  font-size: 16px;
  padding: 2px 5px;
}
.green-check {
  background-color: #9fcb33;
  color: #fff;
  border-radius: 20px;
  font-size: 10px;
  padding: 1px;
  margin-right: 5px;
  vertical-align: text-top;
}
.care-features-section .title {
  font-size: 18px;
}
.care-features-section #care-features-div a.toggle-collapse .icon-angle {
  font-size: 20px;
}
.care-features-section #care-features-div .care-feature-div {
  padding: 10px 0;
  color: #414141;
}
.carousel.specs-carousel .carousel-item .specs-img-div {
  padding: 0 0 0 20px;
}
.carousel.specs-carousel .carousel-item .specs-img-div .phone-frame {
  position: relative;
  width: 250px;
}
.carousel.specs-carousel .carousel-item .specs-img-div .phone-screen {
  position: absolute;
  width: 250px;
  height: 408px;
  top: 0;
  left: 20px;
  background-color: transparent;
}
.carousel.specs-carousel .carousel-item .specs-text-div {
  padding-top: 240px;
}

.carousel .carousel-control-prev, .carousel .carousel-control-next {
  width: 15%;
}
.carousel .carousel-control-prev .carousel-control-prev-icon, .carousel .carousel-control-next .carousel-control-prev-icon {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-image: url(/img/arrow.svg);
}
.carousel-control-prev {
  left: 0;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.carousel .carousel-control-prev .carousel-control-next-icon, .carousel .carousel-control-next .carousel-control-next-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-image: url(/img/nextarrow.svg);
}
.carousel-control-next {
  right: 0;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.owl-carousel-dot .owl-dots{
  text-align: center;
  padding-top: 15px;
  position: absolute;
  top: 57%;
  left: 36%;
}
.owl-carousel-dot .rightarrow , .owl-carousel-dot  .leftarrow{
  top: 50%;
}

.owl-dots .owl-dot {
  margin: 0px 5px;
}
.owl-dots .owl-dot button {
  background: none;
  border: none;
  padding: 0;
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.owl-dots .owl-dot button:focus {
  outline: none;
}
.owl-dots .owl-dot.active button {
  color: #000000;
}

.sticky {
  position: fixed;
  top: 60;
  width: 100%;
  background: white; 
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* ----------------product page css start ---------------------*/

#producttopbar{
  background-color: #ecf2f4;
  text-align: center;
  padding: 18px 0px;
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: #192048;
    font-size: 14px;
    font-weight: 600;
}
#producttopbar span{
  text-decoration: underline;
}
.backcolor{
  background-color: #192048!important;
  color: #fff!important;
}
.card{
  border: 0!important;
}
.card-wrapper{
  max-width: 1100px;
  margin: 0 auto;
}
.card-wrapper img{
  width: 100%;
  display: block;
}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
  justify-content: center;
}
.img-select1{
  display: flex;
  justify-content: center;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 20px;
    font-weight: 600;
    color: #192048;
  text-transform: capitalize;
  position: relative;
  margin: 1rem 0;
}

.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price span{
  color: #f64749;
  text-decoration: line-through;
}
.new-price span{
  color: #256eff;
}
.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p{
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
  margin: 0;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span{
  font-weight: 400;
}
.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type{
  background: #256eff;
}
.purchase-info .btn:last-of-type{
  background: #f64749;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}
.productdetail{
  margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
}
.care-item-div {
  margin: 15px 0;
  padding: 15px 20px;
  background-color: #fbfbfb;
  border: solid 1px #e3e8eb;
}
.care-item-div .title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #f29f7c;
}
.care-item-div .title .price {
  padding-top: 3px;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  float: right;
}
.care-item-div .text {
  width: 100%;
  font-size: 13px;
  margin-bottom: 15px;
  line-height: 18px;
}
.notes {
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  color: #90a0aa;
}
.producttitle img{
width: 40%!important;
margin-bottom: 10px;
}
.producttitle .fa-star{
  color: gold;
}
.producttitle span{
  color: #aaa;
  margin-left: 5px;
  font-size: 14px;
  vertical-align: text-top;
}
.care-item-div1 {
  margin: 5px 0;
  opacity: .5!important;
    cursor: not-allowed!important;

}
.care-item-div1 .title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 0px;
  color: #80c6dc;
}
.care-item-div1 .title .price {
  padding-top: 3px;
  color: #414141;
  font-size: 16px;
  font-weight: 400;
  float: right;
  display: flex;
  align-items: center;
}
.care-item-div1 .qty{
  display: inline-flex;
  color: #90a0aa;
  margin-bottom: 0;
  padding-top: 3px;
  padding-right: 7px;
  font-size: 16px;
}
.care-item-div1  button{
  width: 22px;
    height: 22px;
    display: flex;
    border-radius: 11px;
    background-color: #ecf2f4;
    border: 0;
}
.care-item-div1  button:focus{
  outline: none;
}
.care-item-div1  button i{
  color: #80c6dc;
  font-size: 12px;
    padding: 5px 0px;
}
.inputfield{
  position: relative;
}
.inputfield p{
  font-size: 15px;
  color: #414141;
  padding-top: 5px;
  opacity: .5!important;
    cursor: not-allowed!important;
}
.inputfield input{
height: 40px;
}
.inputfield input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(172, 172, 172);
  font-size: 12px;
  opacity: 1; /* Firefox */
}

.inputfield input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(172, 172, 172);
  font-size: 12px;
}

.inputfield input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(172, 172, 172);
  font-size: 12px;
}
.applybtn{
  position: absolute;
  right: 0;
  top: 62%;
}
.product-main-div .btn-group {
  width: 100%;
  margin: 5px 0;
}
.product-main-div .btn-group .btn:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.product-main-div .btn-group .btn {
  background-color: transparent;
  border: 1px solid #ddd;
  padding: 10px 1px;
  cursor: pointer;
  font-size: 14px;
  color: #414141;
  width: 33.4%;
  opacity: .9;
}
.btn-group>.btn:first-child {
  margin-left: 0;
}
.product-main-div .out-of-stock {
  opacity: .5!important;
  cursor: not-allowed!important;
}
.product-main-div .btn-group .btn .opt-desc {
  display: block;
  font-weight: 600;
}.product-main-div .btn-group .btn .opt-price-orig {
  text-decoration: line-through;
  font-size: 80%;
  color: #aaa;
  display: none;
}
.product-main-div .btn-group .btn .opt-price-orig {
  text-decoration: line-through;
  font-size: 80%;
  color: #aaa;
  display: none;
}
.product-main-div .btn-group .btn.active {
  background-color: #ecf2f4;
  border-color: #80c6dc;
  color: #192048;
  opacity: 1;
}
.product-main-div .btn-group .btn.out-of-stock .opt-price {
  color: #b92424;
}
.button-div {
  margin: 20px 0 10px;
  text-align: center;
}
.button-div button{
  opacity: .5;
  pointer-events: none;
  width: 240px;
  color: #fff;
  background-color: #80c6dc;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  font-weight: 600;
}
.paymentmethod{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.paymentmethod img{
  width: 50%;
}
.order-arrival {
  text-align: center;
  font-weight: 600;
  margin: 10px 0 20px;
  color: #414141;
}
.checks-list {
  text-align: center;
  padding-bottom: 20px;
}
.checks-list .feature {
  width: 100%;
  display: flex;
  justify-content: center;
}
.checks-list .feature img{
  width: 6%;
}
.checks-list .feature span{
font-size: 14px;
}
.sliderdots{
  height: 10px;
    width: 10px;
    background-color: #80c6dc;
    border-radius: 50%;
    margin-left: 6px;
}
.product-main-div {
  color: #414141;
  padding: 0 10px;
}
.product-main-div .caption {
  color: #f29f7c;
}
.related-item-section .title, .related-item-section .subtitle, .product-main-div .caption {
  font-weight: 600;
  font-size: 16px;
}
.product-main-div h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  padding-bottom: 15px;
}
.product-main-div h2 {
  /* font-size: 16px; */
  margin: 10px 0 5px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.product-main-div .feature {
  display: flex;
  padding-bottom: 20px;
}
.product-main-div .feature img {
  display: inline-flex;
  margin-right: 10px;
  width: 7%!important;
}
.product-main-div .feature .text {
  display: inline-flex;
}
.notes {
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
  color: #90a0aa;
}
.product-main-div .button-div {
  margin: 20px 0 10px;
}
.button-div {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
}
.button-div .w-200 {
  width: 240px;
}
.button-div .blue-button {
  color: #fff;
  background-color: #80c6dc;
  cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.2rem;
}
/* ---------------start today style -----------------*/

.reviews-section {
    background-color: #f5f7f8;
    padding: 40px 0;
}
.reviews-section h2 {
    color: #192048;
    font-size: 20px;
    font-weight: 600;
}
.reviews-section .avg-rating-div {
    margin-top: 15px;
    margin-bottom: 15px;
}
.text-blue {
    color: #80c6dc;
}
.margin-right-10 {
    margin-right: 10px;
}
.reviews-section .avg-rating-div .icon-star {
    font-size: 20px;
    padding-right: 1px;
}
.icon-star.checked {
    color: #ffd83e;
}
.reviews-section .filter-and-button-div {
    text-align: right;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.button-div {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}
.reviews-section .filter-and-button-div #filter-reviews-dropdown-div {
    font-size: .9rem;
}
.reviews-section .filter-and-button-div #filter-reviews-dropdown-div #filter-reviews-dropdown {
    cursor: pointer;
    padding: 10px;
    border-radius: 25px;
    width: 170px;
    font-size: .9rem;
    color: #90a0aa;
    background-color: transparent;
    border: 1px solid #90a0aa;
}
.reviews-section .filter-and-button-div #filter-reviews-dropdown-div #filter-reviews-dropdown:hover{
  text-decoration:none;
}
.reviews-section .filter-and-button-div #filter-reviews-dropdown-div #filter-reviews-dropdown:focus{
outline:none;
}
.reviews-section .filter-and-button-div #filter-reviews-dropdown-div .dropdown-menu {
    min-width: 150px;
    margin-left: 10px;
    padding: 0;
}
.reviews-section .filter-and-button-div #filter-reviews-dropdown-div a.dropdown-item {
    text-align: center;
    font-size: 90%;
    color: #58595b;
    text-decoration: none;
    padding: 8px 10px;
}
.reviews-list .review-div {
    font-size: 16px!important;
    overflow: hidden;
    margin: 20px 0;
    color: #414141;
}
.review-div .review-img-div {
    width: 80px;
    height: 80px;
    display: inline-block;
}
.review-div .review-img-div .review-img-span {
    height: 80px;
    width: 80px;
    display: inline-block;
    position: relative;
}
.review-div .review-img-div .review-img-span .review-img.real-img {
    display: none;
}
.review-div .review-img-div .review-img-span .review-img {
    height: 80px;
    width: 80px;
    background-color: lightgrey;
    border-radius: 60px;
    display: block;
    background-size: contain;
}
.review-div .review-img-div .review-img-span img.real-img {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 60px;
}
.reviews-list .review-div .review-details-div {
    font-size: 85%;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.reviews-list .review-div .review-user {
    font-weight: 600;
}
.reviews-list .review-div .review-dynamic-div {
    height: 110px;
    display: inline-block;
    padding-left: 15px;
    position: absolute;
}
.reviews-list .review-div .review-stars {
    font-size: 20px;
}
.icon-star.checked {
    color: #ffd83e;
}
.verified-div {
    margin-top: 1px;
    color: #9fcb33;
    font-size: 80%;
}
.verified-div .green-check {
    line-height: 18px;
}
.green-check {
    background-color: #9fcb33;
    color: #fff;
    border-radius: 20px;
    font-size: 10px;
    padding: 1px;
    margin-right: 5px;
    vertical-align: text-top;
}
.reviews-list .review-div .review-date-div {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.reviews-list .review-div .review-date-div {
    display: inline-block;
}
.reviews-list .review-div .review-date-div .review-date {
    font-size: .85rem;
    color: #90a0aa;
}
.reviews-list .review-div .review-user {
    font-weight: 600;
}
.reviews-list .review-div .review-text-div {
    overflow: hidden;
    font-size: 90%;
}
.reviews-list .review-div .review-text-div .review-title {
    margin-top: 10px;
    font-weight: 600;
}
.reviews-list .review-div .review-text-div .review-message {
    margin: 15px 0 20px;
}
.reviews-list .review-div .review-bought-div {
    margin: 20px 0;
    font-size: 90%;
}
.reviews-list .review-div .review-date-div {
    display: inline-block;
}
.reviews-list .review-div .review-date-div .review-date {
    font-size: .85rem;
    color: #90a0aa;
}
.details-tabs-section {
  padding: 20px 0;
}
.details-tabs-section #nav-tabs .nav-link {
  color: #cdd5da;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid #cdd5da;
  margin: 5px;
}
.details-tabs-section #nav-tabs .nav-link.active {
  color: #192048;
  border-color: #192048;
}
.details-tabs-section #features {
  padding: 20px 0;
}
.details-tabs-section #accordion-mobile a.toggle-collapse.collapsed {
  color: #aaa;
  border-bottom: 1px solid #cdd5da;
  margin-right: -5px;
}
.details-tabs-section #accordion-mobile a.toggle-collapse {
  color: #192048;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 25px;
}
.details-tabs-section #features #features-list .item {
  color: #6b6c6e;
}
.details-tabs-section #features #features-list .item .item-title {
  display: flex;
  margin: 10px 0;
}
.details-tabs-section #features #features-list .item .item-title .item-badge {
  display: inline-block;
  height: 40px;
  width: 40px;
  padding: 10px;
  line-height: 16px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 1px 1px 8px rgba(0,0,0,.3);
  -webkit-box-shadow: 1px 1px 8px rgb(0 0 0 / 30%);
  box-shadow: 1px 1px 8px rgb(0 0 0 / 30%);
}
.details-tabs-section #features #features-list .item {
  color: #6b6c6e;
}
.details-tabs-section #features #features-list .item .item-title .item-badge img {
  height: 20px;
}
.details-tabs-section #features #features-list .item .item-title h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  vertical-align: middle;
  margin-bottom: 0;
}
.details-tabs-section #specs {
  padding: 10px 0;
  color: #414141;
}
.details-tabs-section #specs #specs-battery {
  margin-bottom: 20px;
}
.details-tabs-section #specs h4 {
  font-size: 18px;
  font-weight: 600;
  color: #192048;
  margin: 20px 0;
}
.details-tabs-section #specs #specs-battery .item {
  border: 1px solid #58595b;
  border-radius: 7px;
  vertical-align: middle;
  text-align: center;
  padding: 10px 10px 20px;
  margin: 5px 0;
}
.details-tabs-section #specs #specs-battery .item .title {
  font-size: 15px;
}
.details-tabs-section #specs .title {
  font-weight: 600;
  color: #58595b;
}
.details-tabs-section #specs #specs-battery .item .body {
  font-size: 14px;
  margin-bottom: 0;
}
.details-tabs-section #specs #specs-battery .item.highlighted {
  border-color: #9fcb33;
}
.details-tabs-section #specs #specs-battery .item {
  border: 1px solid #58595b;
  border-radius: 7px;
  vertical-align: middle;
  text-align: center;
  padding: 10px 10px 20px;
  margin: 5px 0;
}
.details-tabs-section #specs #specs-battery .item.highlighted .title {
  color: #9fcb33;
}
.details-tabs-section #specs .title {
  font-weight: 600;
  color: #58595b;
}
.details-tabs-section #accordion-mobile a.toggle-collapse.no-border {
  border-bottom: none;
}
.details-tabs-section #specs #specs-range {
  padding-bottom: 40px;
}
.details-tabs-section #specs #specs-range .img-div {
  padding: 3% 10%;
  text-align: center;
}
.details-tabs-section #specs #specs-range .img-div img {
  width: 100%;
  max-width: 272px;
}
.details-tabs-section #specs #specs-technical .title {
  font-size: 18px;
  margin-bottom: 3px;
}
.details-tabs-section #specs #specs-technical .item {
  margin-bottom: 30px;
}
body:not(.is-usa) .usa-only {
  display: none;
}
.related-item-section{
padding: 40px 0;
}
.faqs-section {
  background-color: #f5f7f8;
  padding: 60px 0 10px 0;
}
.faqs-section h3 {
  color: #192048;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid #192048;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.faqs-section #faqs-div a.toggle-collapse.collapsed {
  color: #aaa;
  border-bottom: 1px solid #cdd5da;
}
.faqs-section #faqs-div a.toggle-collapse.collapsed:hover {
  cursor: pointer;
  color: #192048;
}
.faqs-section #faqs-div a.toggle-collapse {
  display: block;
  color: #192048;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 10px 15px 0;
}
.faqs-section #faqs-div a.toggle-collapse .icon-angle {
  float: right;
}
.faqs-section #faqs-div .faq-div {
  padding: 20px 0 30px;
  color: #414141;
  border-bottom: 1px solid #cdd5da;
}
.details-tabs-section #accordion-mobile a.toggle-collapse .icon-angle {
  float: right;
}
.navcolor{
  color: #f29f7c;
}
#displaydata{
  font-weight: 700;
}
@media (max-width: 767px){
  .details-tabs-section #accordion-mobile .collapse, .details-tabs-section #accordion-mobile .collapsing {
    padding-left: 25px;
    padding-right: 25px;
}
  .details-tabs-section #features {
    padding: 0;
}
  .details-tabs-section .container {
    padding: 0;
}
  .details-tabs-section #accordion-mobile .tab-pane {
    display: block;
    opacity: 1;
}
.details-tabs-section #specs {
  padding: 0;
}
.details-tabs-section #nav-tabs {
    display: none;
}
.details-tabs-section #accordion-mobile a.toggle-collapse {
  display: block;
}
}
@media (max-width: 991px){
.reviews-list .review-div .verified-div {
    float: right;
}
.reviews-list .review-div .hidden-mobile {
    display: none;
}
}


/* ---------------end style -----------------*/


@media only screen and (min-width: 320px) {
  .reviews-section .filter-and-button-div {
    flex-direction: column-reverse;
}
  .reviews-section .avg-rating-div {
    text-align: center;
}
  .family-section .join-div {
    padding: 25px 10px 25px 10px;
    text-align: center;
   }
  .carousel-header {
    margin-left: 10%;
  }
  .mobiledisplay{
    display: block;
  }
  .laptopdisplay{
    display: none;
  }
  .owl-carousel3 .owl-stage-outer{
    margin: 0;
  }
  .text-div{
    padding: 40px 20px 0;
    text-align: center;
  }
  .rockybg{
    display: none;
  }
  .fees{
    background-image: url(../img/rocky-bg-mobile.jpg);
    background-position: bottom;
    background-size: cover;
    padding: 0 0 180px;
    text-align: center;
  }
  .displayonmoile{
    display: block;
  }
  .displayonlaptop{
    display: none;
  }
  .padding-left-md {
    padding-left: 0;
   }
  .learnmore{
    text-align: center;
  }
  #experthelp h3{
    font-size: 20px;
  }
  .dnone{
    display: none;
  }
  .oniphone{
   left: calc(44% - (200px/2));
  }
  .marginauto{
    margin: auto;
  }
  .paddingtop p{
    margin: auto;
  }
  .paddingtop {
    padding-top: 45px;
    text-align: center;
    padding-left: 0;
  }
  .paddingtop1 p{
    margin: auto;
  }
  .paddingtop1 {
    padding-top: 45px;
    text-align: center;
    padding-left: 0;
  }
  .carousel-header{
    position: relative;
    margin-top: 30px;
  }
  .carousel-header1{
    position: relative;
    margin-top: 30px;
  }
  .h3-div h3{
    font-size: 20px;
    text-align: center;
  }
  #RealTime .setdiv{
    text-align: center;
  }
  #RealTime h2{
    font-size: 24px;
    width: 70%;
    margin: 15px auto;
    line-height: 30px;
  }
  #RealTime .stylishicon{ 
   width: 10%;
  }
  #experthelp h2{
    font-size: 24px;
    width: 70%;
    margin: 15px auto;
    line-height: 30px;
  }
  #experthelp .stylishicon{ 
   width: 10%;
  }
 .phonecarousel1 .stylishicon{ 
    width: 10%;
   }
   .phonecarousel1 h3{
    font-size: 20px;
    width: 100%;
    margin: 15px auto;
    line-height: 30px;
  }
  
  header {
    background: white;
  }
  #call-action .call-action {
    color: #80c6dc;
    background-color: transparent;
    padding: 15px 30px 5px 10px;
  }
  #banner{
    padding: 13vh 9px;
  }
  #banner h1{
    font-size: 24px;
    font-weight: 600;
    text-align: center
  }
  .bannerbtns{
    text-align: center;
    position: absolute;
    bottom: 10%;
  }
  .reviews-list .review-div .review-date-div {
    margin-top: 0;
    position: relative;
    right: 0;
    top: 0;
}

}

@media only screen and (min-width: 768px) {
  .details-tabs-section .collapse {
    display: block;
}
  .details-tabs-section a.toggle-collapse {
    display: none;
}
   .reviews-section .filter-and-button-div {
    flex-direction: row-reverse;
 }
  .reviews-section .avg-rating-div {
    text-align: left;
 }
  .d-md-none {
    display: none!important;
  }
  .d-md-inline-block {
    display: inline-block!important;
   }
  .bannerbtns {
    text-align: center;
    position: absolute;
    bottom: 20%;
   }
  .family-section .join-div {
      padding: 70px 0 0 10%;
    
    text-align: left;
   }
  .carousel-header {
    margin-left: 37%;
  }
  .mobiledisplay{
    display: none;
  }
  .laptopdisplay{
    display: block;
  }
  .owl-carousel3 .owl-stage-outer{
    margin: 0px -150px 0 100px;
  }
  .carousel.specs-carousel .carousel-header {
    margin-top: 55px;
   }
  .fees {
    background-image: none;
    background-position: bottom;
    background-size: cover;
    padding: 0;
    text-align: center;
  }
  .rockybg {
    display: block;
  }
  .text-div{
    padding:80px 80px 80px 0;
    text-align: left;
  }
  .rockybg{
    background-image: url(../img/rocky-bg-1.jpg);
      background-size: auto 100%;
      background-position: 100%;
      min-width: 30vw;
      max-width: 1000px;
  }
  
  .rockybg2{
  background-image: url(../img/rocky-bg-2.jpg);
    background-size: 100% 100%;
    background-position: 0;
    min-height: 432px;
    min-width: 56vw;
   }
  .displayonmoile{
    display: none;
  }
  .displayonlaptop{
    display: block;
  }
  .phonecarousel1 h3{
    font-size: 32px;
    width: 100%;
    margin: 15px auto;
    line-height: 30px;
  }
  .oniphone {
    left: calc(42% - (200px/2));
  }
  .learnmore{
    text-align: left;
  }
  #experthelp h3{
    font-size: 26px;
  }
  .dnone{
    display: flex;
  }
 
  .paddingtop p{
    margin: 0;
  }
  .paddingtop{
    padding-top: 260px;
    text-align: left;
    padding-left: 52px;
  }
  .paddingtop1 p{
    margin: 0;
  }
  .paddingtop1{
    padding-top: 210px;
    text-align: left;
    padding-left: 105px;
  }
  .carousel-header {
    position: absolute;
    margin-top: 55px;
  }
  .carousel-header1 {
    position: absolute;
    margin-top: 55px;
  }
  .h3-div h3{
    font-size: 24px;
    text-align: left;
  }
  #RealTime .setdiv{
    text-align: left;
  }
  #RealTime h2{
    font-size: 38px;
    width: 100%;
    line-height: 38px;
  }
  #RealTime .stylishicon{ 
    width: 2%;
   }
   #experthelp h2{
    font-size: 38px;
    width: 100%;
    line-height: 38px;
  }
  #experthelp .stylishicon{ 
    width: 2%;
   }
 
   .phonecarousel1 .stylishicon{ 
    width: 2%;
   }
   #phonecarousel1 h2{
    font-size: 38px;
    width: 100%;
    line-height: 38px;
  }
  header {
    background: transparent;
  }
  #call-action .call-action {
    color: #fff;
    background-color: #80c6dc;
    padding: 1px 30px;
  }
  #banner{
    padding: 40vh 20px;
  }
  #banner h1{
    font-size: 40px;
    font-weight: 600;
    text-align: left;
  }
 
}

@media only screen and (min-width: 992px) {
  .details-tabs-section {
    margin-top: 30px;
}
 
  .reviews-list .review-div .verified-div {
    padding-left: 10px;
}
  .reviews-list .review-div .review-date-div {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
}
  .reviews-list .review-div .review-text-div {
    width: 100%;
    padding-left: 145px;
    padding-right: 15px;
}
  .d-lg-none {
    display: none!important;
}
  .reviews-list .review-div .verified-div {
    padding-left: 10px;
}
  .reviews-list .review-div .review-dynamic-div {
    padding-left: 145px;
    width: 100%;
    height: 30px;
    position: relative;
}
  .reviews-list .review-div .review-img-div .review-img-span {
    margin-top: 10px;
    margin-left: 30px;
}
  .reviews-list .review-div .review-img-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 170px;
  }
  .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
 }
.card-wrapper{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 90vw;
  max-width: 1300px; */
 }
.product-imgs{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
 }
.product-content{
    padding-top: 0;
    padding-left: 70px;
}
  .care-features-section #care-carousel .specs-img-div .phone-frame, .care-features-section #care-carousel .specs-img-div .phone-screen {
    width: 400px;
    height: 695px;
}
  .care-features-section .desktop-only {
    display: block;
}
  .care-features-section #care-carousel .carousel-header, .care-features-section #care-carousel .carousel-item {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
  .footer .media-div {
    margin-left: auto;
    margin-right: auto;
}
.care-features-section #care-carousel .carousel-header, .care-features-section #care-carousel .carousel-item {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.care-features-section #care-carousel .carousel-header {
  padding-top: 130px;
}
.care-features-section .desktop-only {
  display: block;
}
}

@media only screen and (min-width: 1200px) {
  .product-main-div{
    padding-left: 50px;
}
}


.addstyle{
  text-decoration: underline;
  color: black;
}
.addstyle:hover{
  text-decoration: underline;
  color: black!important;
}
.tabstyle:hover{
  color: #9a9a9a;
}